.new-product-form-label, .new-product-form-input{
    width: 100%;
}

.create-product-button{
    margin-top: 20px;
}

.cancel-create-product{
    margin-left: 20px;
}

.new-product-form-select {
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 35px;
    padding: 8px;
    font-size: 15px;
}