.edit-product-button{
    margin-top: 20px;
}

.cancel-edit-product{
    margin-left: 20px;
}

.edit-product-form-label, .edit-product-form-input{
    width: 100%;
}

.edit-product-form-select {
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 35px;
    padding: 8px;
    font-size: 15px;
}